---
import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout.astro";
import Nav from "../../components/Nav.astro";
import Footer from "../../components/Footer.astro";

import Contacto from "../../components/home/Contacto.astro";
import ImgHito1 from "../../image/hitos/hito1Portada.webp";
import ImgHito2 from "../../image/hitos/hito2Portada.webp";
import ImgHito3 from "../../image/hitos/hito3Portada.webp";
import ImgHito4 from "../../image/hitos/hito4Portada.webp";
import ImgHito5 from "../../image/hitos/hito5Portada.webp";
import ImgContenido1 from "../../image/hitos/H1-contenido.webp";
import ImgContenido2 from "../../image/hitos/H2-contenido.webp";
import ImgContenido3 from "../../image/hitos/H3-contenido.webp";
import ImgContenido4 from "../../image/hitos/H4-contenido.webp";
import ImgContenido5 from "../../image/hitos/H5-contenido.webp";

import { Image, imageConfig } from "astro:assets";
export const getStaticPaths = (() => {
  return [
    { params: { articulos: "articulo-1" } },
    { params: { articulos: "articulo-2" } },
    { params: { articulos: "articulo-3" } },
    { params: { articulos: "articulo-4" } },
    { params: { articulos: "articulo-5" } },
  ];
}) satisfies GetStaticPaths;

const { articulos } = Astro.params;

const hitos = [
  {
    hito: "articulo-1",
    titulo: "Una visión diferente",
    imgBanner: ImgHito1,
    imgContenido: ImgContenido1,
    textoContenido: "Abitacolo nace de una convicción clara: cambiar la forma en que entendemos los muebles y los espacios que habitamos. No creemos que lo nuevo sea sinónimo de valioso. De hecho, estamos convencidos de lo contrario. Nuestra propuesta es disruptiva y sencilla a la vez: en lugar de buscar muebles nuevos, ¿por qué no redescubrir el valor de los que ya existen? Muebles con historia, con carácter, que solo necesitan ser rescatados y cuidados para volver a brillar.",
    textoContenido2: "No solo recuperamos muebles olvidados, los rehabilitamos.. Les devolvemos su objetivo principal: ser funcionales y enteros. además de contar con su propia estética personalizada. Pero no es solo eso. Lo verdaderamente transformador es que no los vendemos, los ofrecemos en alquiler. ¿Por qué obligarse a comprar cuando se puede disfrutar sin ataduras?",
    textoContenido3: "Nuestro objetivo es simple: que todos puedan crear su propio espacio aunque no sepan cuánto tiempo estarán en él. Abitacolo nace con el objetivo de cuidar a las personas a través de los espacios en los que habitan. La vida en ciudades metròpoli con tres características similares: el consumo de mueble para la vida diaria, las condiciones de vivienda en alquiler, y, el constante cambio migratorio por las oportunidades de estudio y laborales, son los factores que han dado validez a la propuesta orgánica de nuestro sistema ",
    textoContenido4: "Para Abitacolo el hogar es un reflejo de nuestra personalidad. Y cada persona, sin importar sus circunstancias, merece un entorno que se adapte a sus emociones, a su ritmo de vida. Queremos que cada rincón, aunque sea pequeño, compartido o temporal, pueda convertirse en un santuario personal. A través del diseño democrático, una estancia digna puede hacer mucho por el beneficio emocional y productivo de cada persona.",
    textoContenido5: "Nuestra propuesta es mucho más que muebles. Es un replanteamiento del consumo. Nos alejamos del ciclo infinito de compra y desecho, y en su lugar, proponemos reutilizar, cuidar y prolongar la vida de lo que ya existe. Es un reset en la industria del mobiliario. Un cambio de rumbo hacia la sostenibilidad y la conciencia.",
    textoContenido6: "La misión es clara: reducir el desperdicio, dar valor a lo que ya está aquí, y ofrecer soluciones flexibles a quienes buscan algo más que un objeto funcional. Creemos que las cosas pueden hacerse de otra manera. Nos impulsa la certeza de que el cambio es posible, y queremos liderarlo junto a ti.",
    posicionImage: 2 ,

  },
  {
    hito: "articulo-2",
    titulo: "Un modelo innovador",
    imgBanner: ImgHito2,
    imgContenido: ImgContenido2,
    textoContenido: "El innovador modelo de negocio de Abitacolo reinventa la cadena de producción de las empresas existentes de alquiler de muebles. Mientras que aquellas crean su stock a través de una compleja red de estudios de diseño o fábricas, desde Abitacolo proponemos la construcción autónoma del stock a coste casi nulo. Gracias a la suma de un taller propio y el sistema de trabajo de “nuestras 3 Rs” (rescatar, reinventar, rentar), conseguimos renovar de forma continua un fondo de muebles heterogéneo mientras controlamos la producción, lo que abarata costes, crea un flujo constante de novedades y simplifica la gestión. Además, contamos con la ventaja de poder afrontar los posibles daños causados sobre el mobiliario con mayor agilidad y menor coste que la competencia. Porque, al no ser nuevos ni de alto diseño, nuestros muebles no pierden valor al ser dañados y reparados. De hecho, pueden ser reinventados y mejorados en el proceso. ",
    textoContenido2: "La economía circular hace viable económicamente la propuesta, añade valor al proyecto y satisface las preocupaciones medioambientales de un segmento del mercado. La clave es que en Abitacolo reconocemos la sostenibilidad como un fin y también como un medio. Nuestro sistema de alquiler asequible, frente a la venta tradicional, es una decisión estratégica que prolonga la vida útil de los muebles, facilita el retorno de la inversión y redunda en nuestros objetivos de sostenibilidad. El sistema incluso permite crear un servicio añadido de recogida de mobiliario desechado, lo que genera otra simbiosis: Abitacolo retira muebles de las casas gratuitamente y los convierte en stock propio. Se promueve así una reutilización activa y beneficiosa.",
    textoContenido3: "El trasfondo rupturista de Abitacolo también se traduce en un cambio de paradigma en la relación con la clientela. Nuestras redes sociales pretenden construir una comunidad de “abitacolers” que compartan nuestra visión y respalden el proyecto. Porque en Abitacolo, aspiramos a construir un proyecto sólido y escalable que supere nuestras propias expectativas.",
    posicionImage: 1,
  },

  {
    hito: "articulo-3",
    titulo: "Un crecimiento consolidado",
    imgBanner: ImgHito3,
    imgContenido: ImgContenido3,
    textoContenido: "Desde su nacimiento, Abitacolo ha experimentado un desarrollo destacado dentro del ecosistema empresarial madrileño. Prueba de ello es el entusiasmo con el que se ha acogido la propuesta en La Nave, el mayor foco de innovación y emprendimiento de la capital. Nuestro recorrido allí ha estado marcado por algunos hitos clave, como la invitación a participar en el South Summit Madrid 2024, donde tuvimos la oportunidad de presentar nuestras propuestas innovadoras y consolidar nuestra visión como empresa.",
    textoContenido2: "Esta fuerte apuesta por darnos a conocer nos ha abierto las puertas a un público más amplio, tejiendo así una red de contactos y forjando asociaciones estratégicas. En ese sentido, agradecemos especialmente las alianzas con 4Geeks y Uelz, quienes han sido fundamentales en el proceso de validar nuestra propuesta y configurar nuestro equipo de trabajo. Su apoyo está siendo clave para avanzar hacia nuestra meta de ser líderes en los sectores del alquiler de mobiliario y del diseño sostenible.",
    textoContenido3: "Porque en Abitacolo, entendemos que tanto el mercado como el diseño y la sostenibilidad están en constante evolución. Nos comprometemos con el cambio y queremos anticiparnos a las demandas futuras de nuestra clientela, desarrollando soluciones que se adapten a las te ndencias y transformaciones venideras",
    textoContenido4: "El futuro de Abitacolo es prometedor y sigue mejorando día a día. Por eso, queremos lanzar una invitación abierta a ser parte de este viaje hacia un nuevo paradigma de decoración, en el que la economía circular y los muebles recuperados desempeñen un papel protagonista.",
    textoContenido5: "Ponte en contacto con Abitacolo para saber cómo podemos colaborar.",
    posicionImage: 2,
  },
  {
    hito: "articulo-4",
    titulo: "Un transfondo cultural",
    imgBanner: ImgHito4,
    imgContenido: ImgContenido4,
    textoContenido: "Abitacolo es más que una empresa: es una herencia cultural. El proyecto supone una continuación de la obra lanzada en 1971 por el diseñador y artista italiano Bruno Munari. Una fascinante propuesta que trasciende los límites del diseño convencional y la arquitectura, reflexionando sobre la relación entre el espacio, el objeto y el ser humano. Con su Abitacolo, Munari nos invita a reconsiderar cómo habitamos nuestros entornos, desde la perspectiva de la funcionalidad, la estética y la sensorialidad. ",
    textoContenido2: "La esencia común entre aquel Abitacolo y el nuestro radica en explorar el concepto de casa más allá del espacio físico. Pensar en la casa como un lugar lleno de significados y posibilidades. Y es que, a través de sus ilustraciones y textos, Munari ya nos mostraba cómo los objetos y el diseño impactan en nuestra vida cotidiana, fomentando ambientes que estimulan la creatividad y el bienestar. Visión que creemos que sigue vigente y que suscribimos.",
    textoContenido3: "Una de las ideas más interesantes tras ese planteamiento es la personalización del hogar. Abitacolo nos anima a hacer que cada espacio refleje nuestra identidad y estilo de vida, interactuando con ellos de formas nuevas y emocionantes. Así, con un estilo lúdico y reflexivo, Munari se convirtió en un pionero del diseño participativo, invitándonos a co-crear nuestro entorno vital.",
    textoContenido4: "Hoy, en un mundo donde la sostenibilidad y el bienestar son esenciales, Abitacolo se inspira y adapta la visión de Munari. Hemos tomado su propósito y lo hemos materializado en un proyecto sostenible y dinámico, pero siempre intentando encarnar la esencia del Abitacolo tal y como él la imaginó",
    posicionImage: 5,
  },
  {
    hito: "articulo-5",
    titulo:"Un proyecto abierto",
    imgBanner: ImgHito5,
    imgContenido: ImgContenido5,
    textoContenido: "En Abitacolo, creemos en la fuerza de la colaboración y el intercambio de ideas. Nuestro enfoque se basa en un ecosistema abierto donde profesionales de diversas disciplinas pueden unirse para crear un impacto significativo en el mundo del diseño sostenible. Valoramos la diversidad de pensamientos y experiencias, lo que nos permite enriquecer nuestra propuesta y mantenernos a la vanguardia en la innovación.",
    textoContenido2: "Buscamos personas que compartan nuestra pasión por la sostenibilidad y el diseño creativo. Ya sea adquiriendo nuestro servicio, invirtiendo en nuestra visión o trabajando activamente a nuestro lado, cada perfil aporta una perspectiva única que alimenta nuestro proyecto.",
    textoContenido3: "Si buscas soluciones que transformen tus espacios y reflejen tu identidad, Abitacolo es la solución para ti.",
    textoContenido4: "Si confías en nuestro planteamiento y quieres apoyar un modelo de negocio que promueve un consumo responsable, te invitamos a considerar invertir en el proyecto.",
    textoContenido5: "Y si trabajas en el campo del diseño, la restauración, la decoración o simplemente compartes nuestra misión y quieres hacer del mundo del mobiliario un lugar más consciente y atractivo, nos encantará colaborar o trabajar contigo",
    textoContenido6: "Buscamos nuevas ideas y queremos crecer de la mano de cada vez más gente. La invitación está extendida: únete a Abitacolo en esta travesía hacia un futuro más sostenible y enriquecedor. Creemos que cada contribución cuenta, y que en equipo podemos crear un impacto positivo que perdure en el tiempo. Tu confianza, tu voz y tu experiencia son lo más valioso que tenemos.",
    posicionImage: 6,
  },
];

const hitoSeleccionado = hitos.find((hito) => hito.hito === articulos);

const hitoIndex = hitos.findIndex((hito) => hito.hito === articulos);
const hitoAnterior = hitos[hitoIndex - 1] ? hitos[hitoIndex - 1].hito : null;
const hitoSiguiente = hitos[hitoIndex + 1] ? hitos[hitoIndex + 1].hito : null;



---

<Layout title={hitoSeleccionado?.titulo}>
  <Nav />
  <main role="main" class="w-full h-[800px] bg-black/70 grid justify-center">
    <div class="max-w-[1440px] w-screen relative overflow-hidden">
      {
        hitoSeleccionado ? (
          <Image
            src={hitoSeleccionado.imgBanner}
            alt="Banner de fondo"
            width={1440}
            height={800}
            class="absolute object-cover w-full"
            loading="eager"
          />
        ) : (
          <p>Error: Hito no encontrado.</p>
        )
      }
      <div class="absolute inset-0 bg-gradient-to-r from-black/80 to-black/50">
      </div>
      <div
        class="relative z-10 px-8 max-sm:px-4 py-24 grid gap-2.5 content-end h-full"
      >
      <!--   <div class="md:flex h-fit max-md:grid items-end gap-4">
          <h1
            class="text-white max-w-[1008px] text-[56px] max-sm:text-[32px] font-bold uppercase leading-[64px]"
          >
            Transforma tu HOGAR con muebles únicos
          </h1>
        </div> -->
      </div>
    </div>
  </main>
  <section class="w-full max-w-[777px] flex flex-col mt-5 mx-auto text-start">
    
    <h1 class="text-8xl mt-4 leading-[91.20px]" >
      {hitoSeleccionado?.titulo}
    </h1>
    <p class="text-lg mt-10 leading-9 ">
     {hitoSeleccionado?.textoContenido}
    
    {
      hitoSeleccionado?.posicionImage === 1 && (
        <Image
          src={hitoSeleccionado.imgContenido}
          alt="Imagen Contenido de fondo"
          width={776}
          height={657}
          loading="lazy"
          class="my-10"
        />
      )
    }
    <p class="text-lg mt-10 leading-9">
      {hitoSeleccionado?.textoContenido2}
    </p>
     {
      hitoSeleccionado?.posicionImage === 2 && (
        <Image
          src={hitoSeleccionado.imgContenido}
          alt="Imagen Contenido de fondo"
          width={776}
          height={657}
          loading="lazy"
          class="my-10"
        />
      )
    } 
    

    <p class="text-lg mt-10 leading-9">
      {hitoSeleccionado?.textoContenido3}
    </p>
    <p class="text-lg mt-10 leading-9">
      {hitoSeleccionado?.textoContenido4}
    </p>
    {
      hitoSeleccionado?.posicionImage === 5 &&

      <Image
          src={hitoSeleccionado.imgContenido}
          alt="Imagen Contenido de fondo"
          width={776}
          height={657}
          loading="lazy"
          class="my-10"
        />
        <div class = "text-center">
          <span> Bruno Munari, Abitacolo [Habitáculo], 1971. </br>
  CSAC. Centro Studie Archivio della Comunicazione, Universidad de Parma </br>
  © CSAC, Universidad de Parma. © Foto: Ada Ardessi.  </br> 
  © Bruno Munari. Maurizio Corraini s.r.l. </br>
  Todos los derechos reservados </span>
          </div>

    }
    {
      ["articulo-2", "articulo-3", "articulo-4", "articulo-5"].some(articulo => hitoSeleccionado.hito.includes(articulo)) ? (
        <span class="text-lg mt-10 font-bold hidden">Nuestra misión</span>
      ) : (
        <span class="text-lg mt-10 font-bold">Nuestra misión</span>
      )
    }
    
    <p class="text-lg mt-10 leading-9">
      {hitoSeleccionado?.textoContenido5}
    </p>
    <p class="text-lg mt-10 leading-9">
      {hitoSeleccionado?.textoContenido6}
    </p>

    { hitoSeleccionado?.posicionImage === 6 && (
      <Image
          src={hitoSeleccionado.imgContenido}
          alt="Imagen Contenido de fondo"
          width={776}
          height={657}
          loading="lazy"
          class="my-10"
        />
    )}

    <div class="flex justify-between mt-32   max-sm:flex-col max-md:gap-10  max-sm:items-center ">
      <button onclick={hitoAnterior ? `location.href='/hitos/${hitoAnterior}'` : `location.href='/hitos/articulo-5'`} class="rounded-full border max-sm:border-2 hover:text-white border-black px-2 py-2 hover:bg-black text-sm text-black max-sm:font-semibold">Leer artículo anterior</button>
      <button onclick={hitoSiguiente ? `location.href='/hitos/${hitoSiguiente}'` : `location.href='/hitos/articulo-1'`} class="rounded-full border max-sm:border-2 hover:text-white hover:bg-black border-black px-2 py-2 text-sm text-black max-sm:font-semibold">Leer artículo siguiente</button>
    </div>
  </section>
  <div class="border-2 border-verdeAbitacolo w-full mt-10 mx-auto"></div>


  <Contacto />
  <Footer />
</Layout>

