---
import ACG from "../../image/equipo/ACG.webp";
import CA from "../../image/equipo/CA.webp";
import GCG from "../../image/equipo/GCG.webp";
import GPC from "../../image/equipo/GPC.webp";
import JCM from "../../image/equipo/JCM.webp";
import MBR from "../../image/equipo/MBR.webp";
import MPR from "../../image/equipo/MPR.webp";
import XLD from "../../image/equipo/XLD.webp";

import InstagramNegro from "../../image/logos/instagramNegro.webp";
import LinkedInNegro from "../../image/logos/LinkedInNegro.webp";

const team = [
  {
    person: "Juliette C. Mallen",
    position: "Founder & CEO",
    linkImage: JCM.src,
    description:
      "Soy Cathy, arquitecta con especialización en comunicación arquitectónica y experiencia en la dirección creativa de eventos culturales.",
    linkedin: "https://www.linkedin.com/in/juanperez",
    instagram: "https://www.instagram.com/juanperez",
  },
  {
    person: "Guillermo Perales",
    position: "Co-Founder",
    linkImage: GPC.src,
    description:
      "¡Hola! Soy Guille, madrileño y arquitecto habilitado por la Escuela Técnica Superior de Arquitectura de Madrid (ETSAM), con estudios...",
    linkedin: "https://www.linkedin.com/in/anarodriguez",
    instagram: "https://www.instagram.com/anarodriguez",
  },
  {
    person: "Manuel Ben",
    position: "UX Product Designer Specialist",
    linkImage: MBR.src,
    description:
      "Soy Diseñador de Productos Digitales con más de 2 años de experiencia en el ecosistema digital, donde he demostrado una sólida capacidad...",
    linkedin: "https://www.linkedin.com/in/carlosgomez",
    instagram: "https://www.instagram.com/carlosgomez",
  },
  {
    person: "María Fernández",
    position: "COO",
    linkImage: ACG.src,
    description:
      "María coordina las operaciones internas para garantizar la eficiencia en todos los procesos.",
    linkedin: "https://www.linkedin.com/in/mariafernandez",
    instagram: "https://www.instagram.com/mariafernandez",
  },
  {
    person: "Pedro Sánchez",
    position: "CMO",
    linkImage: CA.src,
    description:
      "Pedro lidera las estrategias de marketing, ayudando a la empresa a llegar a nuevos mercados.",
    linkedin: "https://www.linkedin.com/in/pedrosanchez",
    instagram: "https://www.instagram.com/pedrosanchez",
  },
  {
    person: "Laura Martínez",
    position: "HR Manager",
    linkImage: MPR.src,
    description:
      "Laura gestiona el talento humano y se encarga de los procesos de contratación y bienestar.",
    linkedin: "https://www.linkedin.com/in/lauramartinez",
    instagram: "https://www.instagram.com/lauramartinez",
  },
  {
    person: "Xavier Longo",
    position: "Web Developer",
    linkImage: XLD.src,
    description:
      "Laura gestiona el talento humano y se encarga de los procesos de contratación y bienestar.",
    linkedin: "https://www.linkedin.com/in/lauramartinez",
    instagram: "https://www.instagram.com/lauramartinez",
  },
  {
    person: "Guillermo Correa",
    position: "Web Developer",
    linkImage: GCG.src,
    description:
      "Laura gestiona el talento humano y se encarga de los procesos de contratación y bienestar.",
    linkedin: "https://www.linkedin.com/in/guillermocg8/",
    instagram: "https://www.instagram.com/guiller.gc/",
  },
];
---

<div class="relative w-full max-w-6xl mx-auto overflow-hidden">
  <div id="carousel" class="flex transition-transform duration-300 ease-in-out">
    {
      team.map((member) => (
        <div class="w-full sm:w-1/2 lg:w-1/3 flex-shrink-0 p-4">
          <div class="w-full h-[540px] max-w-sm bg-white flex flex-col gap-6 p-4">
            <img
              class="w-fit h-[292px] object-scale-down"
              src={member.linkImage}
              alt={member.person}
              loading="lazy"
            />
            <div class="flex flex-col gap-4">
              <div>
                <h2 class="text-black/90 text-2xl font-semibold uppercase leading-7">
                  {member.person}
                </h2>
                <p class="text-black/90 text-xs uppercase leading-tight">
                  {member.position}
                </p>
              </div>
              <p class="text-[#666666] text-sm uppercase leading-tight">
                {member.description}
              </p>
              <div class="flex items-center gap-4">
                {member.linkedin && (
                  <a
                    href={member.linkedin}
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <img
                      src={LinkedInNegro.src}
                      alt="LinkedIn"
                      class="h-6 w-6"
                      loading="lazy"
                    />
                  </a>
                )}
                {member.instagram && (
                  <a
                    href={member.instagram}
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <img
                      src={InstagramNegro.src}
                      alt="Instagram"
                      class="h-6 w-6"
                      loading="lazy"
                    />
                  </a>
                )}
              </div>
            </div>
          </div>
        </div>
      ))
    }
  </div>
  <button
    id="prevBtn"
    class="absolute left-0 top-1/2 transform -translate-y-1/2 bg-white p-2 rounded-full shadow-md"
  >
    <svg
      class="w-6 h-6"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M15 19l-7-7 7-7"></path>
    </svg>
  </button>
  <button
    id="nextBtn"
    class="absolute right-0 top-1/2 transform -translate-y-1/2 bg-white p-2 rounded-full shadow-md"
  >
    <svg
      class="w-6 h-6"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M9 5l7 7-7 7"></path>
    </svg>
  </button>
</div>

<script>
  const carousel = document.getElementById("carousel") as HTMLElement;
  const prevBtn = document.getElementById("prevBtn") as HTMLButtonElement;
  const nextBtn = document.getElementById("nextBtn") as HTMLButtonElement;
  let currentIndex = 0;
  let cardsToShow = 3;

  function updateCardsToShow() {
    if (window.innerWidth < 640) {
      cardsToShow = 1;
    } else if (window.innerWidth < 1024) {
      cardsToShow = 2;
    } else {
      cardsToShow = 3;
    }
  }

  function showCards(index: number) {
    const cardWidth = carousel.children[0].getBoundingClientRect().width;
    carousel.style.transform = `translateX(-${index * cardWidth}px)`;
  }

  function nextSlide() {
    if (currentIndex < carousel.children.length - cardsToShow) {
      currentIndex++;
    } else {
      currentIndex = 0;
    }
    showCards(currentIndex);
  }

  function prevSlide() {
    if (currentIndex > 0) {
      currentIndex--;
    } else {
      currentIndex = carousel.children.length - cardsToShow;
    }
    showCards(currentIndex);
  }

  prevBtn.addEventListener("click", prevSlide);
  nextBtn.addEventListener("click", nextSlide);

  window.addEventListener("resize", () => {
    updateCardsToShow();
    showCards(currentIndex);
  });

  // Initialize
  updateCardsToShow();
  showCards(currentIndex);
</script>
