---
import { Image } from "astro:assets";
import FlechaAbajo from "../../image/home/FlechaAbajo.webp";
import FlechaArriba from "../../image/home/FlechaArriba.webp";

interface Hito {
  titulo: string;
  texto: string;
  image: ImageMetadata;
  clases: string;
}

interface Props {
  Hitos: Hito[];
}

const { Hitos = [] } = Astro.props;

const hiddenClasses = {
  "max-lg:hidden": "lg:hidden",
  "max-md:hidden": "md:hidden",
  "max-sm:hidden": "sm:hidden",
};
---

<div class="relative xl:hidden px-4 text-left">
  <div
    class="hidden mt-2 space-y-3 divide-y divide-gray-100 rounded-md shadow-lg ring-1 ring-black ring-opacity-5 origin-top-right"
    id="dropdown-menu"
    role="menu"
    aria-orientation="vertical"
    aria-labelledby="drop-Down"
  >
    {
      Hitos.map((hito, index) => (
        <article
          class={`grid w-full min-h-72 gap-4 -top-5 p-7 place-items-center bg-white text-[#666666] hover:bg-gray-100 hover:text-black ${hiddenClasses[hito.clases] || ""}`}
          data-image-src={hito.image.src}
          data-image-srcset={hito.image.src}
        >
          <h2 class="text-2xl font-bold leading-7 text-center">
            {hito.titulo}
          </h2>
          <p class="text-sm leading-tight text-center">{hito.texto}</p>
          <a href={`/hitos/articulo-${index + 1}`}>
            <button class="flex w-fit h-[37px] place-items-center rounded-full border-2 border-black px-2 py-2.5 font-semibold hover:bg-black hover:text-white">
              Leer articulo
            </button>
          </a>
        </article>
      ))
    }
  </div>

  <button
    type="button"
    class="inline-flex justify-center w-full rounded-md border px-4 py-2 text-sm font-medium"
    id="drop-Down"
    aria-haspopup="true"
    aria-expanded="false"
  >
    <Image
      src={FlechaAbajo}
      alt="Flecha abajo"
      width={26}
      height={18}
      id="arrow-image"
    />
  </button>
</div>

<script
  is:inline
  define:vars={{
    flechaAbajoSrc: FlechaAbajo.src,
    flechaArribaSrc: FlechaArriba.src,
  }}
>
  document.querySelector("#drop-Down")?.addEventListener("click", function () {
    const menu = document.querySelector("#dropdown-menu");
    const arrowImage = document.querySelector("#arrow-image");
    const expanded = this.getAttribute("aria-expanded") === "true";
    this.setAttribute("aria-expanded", (!expanded).toString());
    menu?.classList.toggle("hidden");
    if (expanded) {
      arrowImage.src = flechaAbajoSrc;
      arrowImage.srcset = flechaAbajoSrc;
      arrowImage.alt = "Flecha abajo";
    } else {
      arrowImage.src = flechaArribaSrc;
      arrowImage.srcset = flechaArribaSrc;
      arrowImage.alt = "Flecha arriba";
    }
  });
</script>
