---
import { Image } from "astro:assets";
import DropDownHitos from "../../components/home/DropDownHitos.astro";
import hito1Portada from "../../image/hitos/hito1Portada.webp";
import hito2Portada from "../../image/hitos/hito2Portada.webp";
import hito3Portada from "../../image/hitos/hito3Portada.webp";
import hito4Portada from "../../image/hitos/hito4Portada.webp";
import hito5Portada from "../../image/hitos/hito5Portada.webp";

type articulosHitos = {
  titulo: string;
  texto: string;
  image: ImageMetadata;
  clases: string;
};

const articulosHitos = [
  {
    titulo: "Una visión diferente",
    texto:
      "Ofrecemos una nueva visión en decoración, diseño e interiorismo, manejando  conceptos democráticos, accesibles y coherentes con las necesidades actuales",
    image: hito1Portada,
    clases: "",
  },
  {
    titulo: "Un modelo innovador",
    texto:
      "El sistema Abitacolo (rescatar, reinventar, rentar) crea un modelo de negocio de mobiliario inédito hasta la fecha, lo que abre nuevas e interesantes posibilidades",
    image: hito2Portada,
    clases: "max-sm:hidden",
  },
  {
    titulo: "Un crecimiento consolidado",
    texto:
      "Abitacolo crece con fuerza dentro del ecosistema empresarial. Queremos estar a la vanguardia del mercado del mobiliario y trabajamos día a día para conseguirlo.",
    image: hito3Portada,
    clases: "max-md:hidden",
  },
  {
    titulo: "Un trasfondo cultural",
    texto:
      "Abitacolo es el título que el artista Bruno Munari dio en 1971 a una exploración sobre lo doméstico. Creemos que su visión sigue hoy vigente y por eso tomamos su nombre",
    image: hito4Portada,
    clases: "max-lg:hidden",
  },
  {
    titulo: "Un proyecto abierto",
    texto:
      "En Abitacolo valoramos la colaboración. Por eso, buscamos personas que compartan nuestra visión y lanzamos una invitación abierta a unirse al proyecto.",
    image: hito5Portada,
    clases: "max-xl:hidden",
  },
];
---

<section
  class="grid w-full justify-center bg-[#333333] px-4 py-8 sm:py-16 lg:px-8"
  role="main"
>
  <div
    id="hitos"
    class="grid max-w-[1376px] justify-center rounded-lg bg-[#d6ff85]"
  >
    <header class="grid px-4 pb-6 pt-8 sm:pb-10 sm:pt-16 lg:px-28">
      <h2
        class="text-6xl leading-[51.20px] tracking-[-.07em] text-black md:text-8xl md:leading-[64px]"
      >
        Claves Abitacolo
      </h2>
      <p
        class="max-w-[956px] pt-8 font-semibold leading-snug text-black sm:text-xl sm:leading-[42px] lg:text-2xl"
      >
        Descubre qué es lo que nos hace únicos y de qué maneras puede
        beneficiarte
      </p>
    </header>

    <Image
      id="articleImage"
      class="h-[200px] w-full max-w-[1376px] object-cover sm:h-[300px] md:h-[400px]"
      src={articulosHitos[0].image}
      alt="Imagen destacada de Hitos Abitacolo"
      loading="lazy"
    />

    <section class="relative flex justify-center">
      <div class="flex gap-4 justify-center bg-black/5 px-4 sm:px-6">
        {
          articulosHitos.map((articulo, index) => (
            <article
              class={`inline-flex min-h-60 w-full flex-col gap-4 bg-white py-12 px-4 max-sm:py-6 transition-colors hover:bg-gray-100 hover:text-black focus-within:bg-gray-100 focus-within:text-black sm:w-[calc(50%-1rem)] sm:gap-6  md:w-[calc(33.333%-1rem)] lg:w-[calc(25%-1rem)] xl:w-[calc(20%-1rem)] relative top-[-20px] focus:rounded-lg ${articulo.clases}`}
              data-index={index}
              data-image-src={articulo.image.src}
              data-image-srcset={articulo.image.src}
            >
              <h2 class="self-stretch text-2xl font-bold leading-tight text-center sm:leading-7">
                {articulo.titulo}
              </h2>
              <p class="self-stretch leading-tight text-center">
                {articulo.texto}
              </p>
              <a
                href={`/hitos/articulo-${index + 1}`}
                class="m-auto mb-0 self-end"
                aria-label={`Leer artículo: ${articulo.titulo}`}
              >
                <button class="flex h-[37px] w-fit items-center rounded-full border-2 border-black px-2 py-2 text-sm font-semibold transition-colors hover:bg-black hover:text-white focus:bg-black focus:text-white sm:text-base">
                  Leer artículo
                </button>
              </a>
            </article>
          ))
        }
      </div>
    </section>
    <DropDownHitos
      Hitos={articulosHitos.filter((hito) => hito.clases.includes("hidden"))}
    />
    <footer
      class="flex min-h-[300px] flex-col items-center gap-6 border-t border-black/10 px-4 py-8 sm:min-h-[408px] sm:gap-8 sm:px-8 sm:py-12 lg:flex-row lg:gap-20 lg:px-32"
    >
      <div class="flex-1">
        <p
          class="leading-snug text-black/90 sm:text-xl sm:leading-9 md:text-2xl"
        >
          En Abitacolo cada día damos pasos firmes hacia el éxito. Buscamos
          inversores visionarios, colaboradores capaces y personas curiosas por
          los servicios, que deseen ser parte de nuestro original ADN. Únete al
          emprendimiento sostenible y sé parte de una historia de innovación y
          crecimiento imparable.
        </p>
      </div>
      <div class="flex flex-col justify-center gap-4 sm:gap-7">
        <h2 class="max-w-[350px] text-4xl tracking-[-.08em] text-black/90">
          ¡Empieza tu historia con nosotros!
        </h2>
        <div class="flex justify-center">
          <a
            href="#contacto"
            class="flex h-12 w-full max-w-80 place-items-center justify-center rounded-full border-2 border-black bg-black text-lg font-semibold text-white transition-colors hover:bg-white hover:text-black focus:bg-white focus:text-black sm:h-14 sm:text-xl"
            aria-label="Contáctanos"
          >
            Contáctanos
          </a>
        </div>
      </div>
    </footer>
  </div>
</section>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const articles = document.querySelectorAll("article");
    const articleImage = document.getElementById("articleImage");

    if (articleImage instanceof HTMLImageElement) {
      let currentImageSrc = "";
      let currentImageSrcset = "";

      articles.forEach((article) => {
        article.addEventListener("mouseenter", () => {
          const { imageSrc, imageSrcset } = article.dataset;

          if (imageSrc && imageSrc !== currentImageSrc) {
            articleImage.src = imageSrc;
            currentImageSrc = imageSrc;
          }
          if (imageSrcset && imageSrcset !== currentImageSrcset) {
            articleImage.srcset = imageSrcset;
            currentImageSrcset = imageSrcset;
          }
        });
      });
    }
  });
</script>
