---
import { Image } from "astro:assets";
import DropDownHitos from "../../components/home/DropDownHitos.astro";
import hito1Portada from "../../image/hitos/hito1portada.webp";
import hito2Portada from "../../image/hitos/hito2Portada.webp";
import hito3Portada from "../../image/hitos/hito3Portada.webp";
import hito4Portada from "../../image/hitos/hito4Portada.webp";
import hito5Portada from "../../image/hitos/hito5Portada.webp";

const { articulos } = Astro.params;

type articulosHitos = {
  titulo: string;
  texto: string;
  image: ImageMetadata;
  clases: string;
};

const articulosHitos = [
  {
    titulo: "Soluciones innovadoras",
    texto:
      "Ofrecemos una nueva visión en decoración, diseño e interiorismo, manejando conceptos democráticos, accesibles y coherentes con las necesidades actuales.",
    image: hito1Portada,
    clases: "",
  },
  {
    titulo: "Lo que nos hace únicos",
    texto:
      "Proponemos soluciones  adaptadas a ti porque sabemos que habitar una vivienda temporal requiere de una buena gestión de la incertidumbre a futuro.",
    image: hito2Portada,
    clases: "max-md:hidden",
  },
  {
    titulo: "Superándonos día a día",
    texto:
      "Comprometidos con una constante evolución. nos mantenemos siempre a la vanguardia del dinámico mundo del diseño y la economía circular ",
    image: hito3Portada,
    clases: "max-lg:hidden",
  },
  {
    titulo: "¿Qué significa Abitacolo?",
    texto:
      " Abitacolo es el título que el artista Bruno Munari dio en 1971 a una exploración sobre lo doméstico. Creemos que su visión sigue hoy vigente y por eso tomamos su nombre ",
    image: hito4Portada,
    clases: "max-md:hidden",
  },
  {
    titulo: "Únete a esta revolución",
    texto:
      "Descubre cómo Abitacolo puede transformar tu experiencia de vida. Visita nuestros recursos, explora nuestras soluciones y únete a nuestra comunidad.",
    image: hito5Portada,
    clases: "max-lg:hidden",
  },
];
---

<div class="w-full py-16 grid justify-center bg-[#333333] px-4" role="main">
  <div
    id="hitos"
    class="bg-[#d6ff85] grid justify-center max-w-[1376px] rounded-lg"
  >
    <header
      class="min-h-[350px] px-8 py-12 max-md:py-12 flex justify-center items-center"
    >
      <div class="">
        <h1 class="justify-self-center text-black text-8xl font-semibold">
          Nuestra aventura
        </h1>
        <p
          class="max-w-[956px] text-black leading-[42px] pt-8 text-2xl font-semibold"
        >
          Únete al emprendimiento en esta emocionante etapa de crecimiento y
          forma parte de nuestra historia.
        </p>
      </div>
    </header>

    <Image
      id="articleImage"
      class="w-full max-w-[1376px] h-[400px] object-cover"
      src={articulosHitos[0].image}
      alt="Imagen destacada de Hitos Abitacolo"
      loading="lazy"
    />

    <section class="relative flex justify-center">
      <div class="px-8 pb-24 max-md:pb-12 bg-black/5 flex gap-4">
        {
          articulosHitos.map((articulo, index) => (
            <article
              class={`min-h-72 w-full p-10 relative grow bg-white text-[#666666] hover:text-black  hover:bg-gray-100 flex-col justify-start items-start gap-6 inline-flex top-[-20px] ${articulo.clases}`}
              data-index={index}
              data-image-src={articulo.image.src}
              data-image-srcset={articulo.image.src}
            >
              <h2 class="self-stretch text-2xl font-bold  leading-7 text-center">
                {articulo.titulo}
              </h2>
              <p class="self-stretch text-sm leading-tight text-center">
                {articulo.texto}
              </p>
              <a href={`/hitos/articulo-${index + 1}`} class="m-auto">
                <button class="rounded-full border-2 border-black px-7 py-2.5 font-semibold hover:bg-black hover:text-white">
                  Leer articulo
                </button>
              </a>
            </article>
          ))
        }
      </div>
    </section>
    <DropDownHitos Hito={articulosHitos} />

    <footer
      class="min-h-[408px] px-8 max-md:py-8 py-24 border-t border-black/10 flex max-lg:flex-col-reverse items-center gap-7"
    >
      <div class="flex-1 pr-32 max-md:pr-0">
        <p class="text-black/90 text-[32px] leading-9">
          En Abitacolo cada día damos pasos firmes hacia el éxito. Buscamos
          inversores visionarios, colaboradores capaces y personas curiosas por
          los servicios, que deseen ser parte de nuestro original ADN. Únete al
          emprendimiento sostenible y sé parte de una historia de innovación y
          crecimiento imparable.
        </p>
      </div>
      <div class="flex-1 flex flex-col gap-7">
        <h2 class="text-black/90 text-[40px] text-center">
          ¡Empieza tu historia con nosotros!
        </h2>
        <a
          href="#contacto"
          class="h-14 px-6 py-4 rounded-[10px] text-white text-xl font-semibold grid justify-center bg-black hover:bg-[#a1b036]"
          aria-label="Contáctanos"
        >
          Contáctanos
        </a>
      </div>
    </footer>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const articles = document.querySelectorAll("article");
    const articleImage = document.getElementById("articleImage");

    if (articleImage instanceof HTMLImageElement) {
      articles.forEach((article) => {
        article.addEventListener("mouseenter", () => {
          const imageSrc = article.getAttribute("data-image-src");
          const imageSrcset = article.getAttribute("data-image-srcset");

          if (imageSrc) {
            articleImage.src = imageSrc;
          }
          if (imageSrcset) {
            articleImage.srcset = imageSrcset;
          }
        });
      });
    }
  });
</script>
