---
import { Image } from "astro:assets";
import placeHolder1 from "../../image/home/placeholder1.png";
import placeHolder2 from "../../image/home/placeholder2.png";
import placeHolder3 from "../../image/home/placeholder3.png";

const articulosHitos = [
  {
    titulo:
      "Abitacolo revoluciona la industria del mueble con soluciones innovadoras.",
    texto:
      "Es el año 2023 en Madrid, mientras una mesilla de noche era dejada a su suerte sobre la acera de una calle, otras manos cargaban cuesta abajo del piso reformado una lámpara de pie, unas macetas, unas repisas de madera...",
    image: placeHolder1,
    clases: "",
  },
  {
    titulo: "¿Qué hace único a Abitacolo?",
    texto:
      "Innovación: Redefinimos el concepto de mobiliario olvidado, transformándolo en un catálogo de soluciones estéticas y funcionales. Nuestro taller permite la renovación continua de muebles, asegurando que cumplan su propósito...",
    image: placeHolder2,
    clases: "max-md:hidden",
  },
  {
    titulo: "¿De dónde? ¿Qué es? ¿por qué Abitacolo? ",
    texto:
      "Abitacolo, lanzada en 1971 por el diseñador y artista italiano Bruno Munari, es una obra fascinante que trasciende los límites del diseño convencional y la arquitectura, ofrece una reflexión profunda sobre la relación entre el espacio...",
    image: placeHolder3,
    clases: "max-lg:hidden",
  },
];
---

<div class="w-full py-16 grid justify-center bg-[#333333] px-4" role="main">
  <div
    id="hitos"
    class="bg-[#d6ff85] grid justify-center max-w-[1376px] rounded-lg"
  >
    <header
      class="min-h-[350px] px-8 py-12 max-md:py-12 flex justify-center items-center"
    >
      <div class="">
        <h1 class="justify-self-center text-black text-8xl font-semibold">
          Hitos Abitacolo
        </h1>
        <p
          class="max-w-[956px] text-black leading-[42px] pt-8 text-2xl font-semibold"
        >
          Únete al emprendimiento en esta emocionante etapa de crecimiento y
          forma parte de nuestra historia.
        </p>
      </div>
    </header>

    <Image
      id="articleImage"
      class="w-full max-w-[1376px] h-[400px] object-cover"
      src={articulosHitos[0].image}
      alt="Imagen destacada de Hitos Abitacolo"
    />

    <section class="relative flex justify-center">
      <div class="px-8 pb-24 max-md:pb-12 bg-black/5 flex gap-4">
        {
          articulosHitos.map((articulo, index) => (
            <article
              class={`min-h-72 w-full p-12 relative grow bg-white text-[#666666] hover:text-black  hover:bg-gray-300 flex-col justify-start items-start gap-6 inline-flex top-[-20px] ${articulo.clases}`}
              data-index={index}
              data-image-src={articulo.image.src}
              data-image-srcset={articulo.image.src}
            >
              <h2 class="self-stretch text-2xl font-bold  leading-7 text-center">
                {articulo.titulo}
              </h2>
              <p class="self-stretch text-sm leading-tight text-center">
                {articulo.texto}
              </p>
              <a href={``} class="ml-auto mt-auto">
                <button class="bg-[#919e32] rounded-lg text-white px-2 py-1.5 text-sm font-semibold leading-tight hover:bg-[#a1b036]">
                  Leer articulo
                </button>
              </a>
            </article>
          ))
        }
      </div>
    </section>

    <footer
      class="min-h-[408px] px-8 max-md:py-8 py-24 border-t border-black/10 flex max-lg:flex-col-reverse items-center gap-7"
    >
      <div class="flex-1 pr-32 max-md:pr-0">
        <p class="text-black/90 text-[32px] leading-9">
          En Abitacolo cada día damos pasos firmes hacia el éxito. Buscamos
          inversores visionarios, colaboradores capaces y personas curiosas por
          los servicios, que deseen ser parte de nuestro original ADN. Únete al
          emprendimiento sostenible y sé parte de una historia de innovación y
          crecimiento imparable.
        </p>
      </div>
      <div class="flex-1 flex flex-col gap-7">
        <h2 class="text-black/90 text-[40px] text-center">
          ¡Empieza tu historia con nosotros!
        </h2>
        <a
          href="#contacto"
          class="h-14 px-6 py-4 rounded-[10px] text-white text-xl font-semibold grid justify-center bg-black hover:bg-[#a1b036]"
          aria-label="Contáctanos"
        >
          Contáctanos
        </a>
      </div>
    </footer>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const articles = document.querySelectorAll("article");
    const articleImage = document.getElementById("articleImage");

    if (articleImage instanceof HTMLImageElement) {
      articles.forEach((article) => {
        article.addEventListener("mouseenter", () => {
          const imageSrc = article.getAttribute("data-image-src");
          const imageSrcset = article.getAttribute("data-image-srcset");

          if (imageSrc) {
            articleImage.src = imageSrc;
          }
          if (imageSrcset) {
            articleImage.srcset = imageSrcset;
          }
        });
      });
    }
  });
</script>
