---
interface Props {
  person: string;
  position: string;
  linkImage: string;
  description: string;
  linkedin?: string;
  instagram?: string;
}

const { person, position, linkImage, description, linkedin, instagram } =
  Astro.props;

import InstagramNegro from "../image/logos/instagramNegro.webp";
import IconIG from "../../assets/IconIGBlack.svg";
import { Image } from "astro:assets";
---

<div class="w-full h-[540px] max-w-sm bg-white flex flex-col gap-6 p-4">
  <img
    class="w-[427px] h-[292px] object-scale-down"
    src={linkImage}
    alt={`${person} - ${position}`}
    loading="lazy"
  />
  <div class="flex flex-col gap-4">
    <div>
      <h2 class="text-black/90 text-2xl font-semibold uppercase leading-7">
        {person}
      </h2>
      <p class="text-black/90 text-xs uppercase leading-tight">
        {position}
      </p>
    </div>
    <p class="text-[#666666] text-sm uppercase leading-tight">
      {description}
    </p>
    <div class="flex items-center gap-4">
      {
        linkedin && (
          <a
            href={linkedin}
            target="_blank"
            rel="noopener noreferrer"
            aria-label={`${person}'s LinkedIn profile`}
          >
            <Image src={IconLinkdn} alt="LinkedIn" class="h-6 w-6" />
          </a>
        )
      }
      {
        instagram && (
          <a
            href={InstagramNegro}
            target="_blank"
            rel="noopener noreferrer"
            aria-label={`${person}'s Instagram profile`}
          >
            <Image class="h-6 w-6" src={IconIG} alt="Instagram" />
          </a>
        )
      }
    </div>
  </div>
</div>
