---
import { Image } from "astro:assets";
import MenuMobil from "../image/menuMovil.webp";
import Close from "../image/X.webp";

const menuItems = [
  { href: "#AboutUs", text: "¿Qué es Abitacolo?", class: "bg-[#333333]" },
  { href: "#team", text: "Nuestro Equipo", class: "bg-[#333333]" },
  { href: "#hitos", text: "Hitos Abitacolo", class: "bg-[#333333]" },
  { href: "#products", text: "Nuestros Productos", class: "bg-[#333333]" },
  {
    href: "#contacto",
    text: "Contáctanos",
    class: "bg-[#919e32] font-semibold",
  },
];
---

<div>
  <button id="menuButton" class="text-white rounded-md pr-8">
    <Image src={MenuMobil} alt="menu" width="42" height="42" loading="eager" />
  </button>

  <div
    id="menuModal"
    class="fixed inset-0 bg-black bg-opacity-50 h-full hidden z-50"
  >
    <div class="grid">
      <button
        id="closeButton"
        class="top-4 right-4 px-4 py-2 text-white rounded-md justify-self-end"
      >
        <Image src={Close} alt="Close" width="42" height="42" loading="lazy" />
      </button>
      <div
        class="w-[414px] relative bg-transparent place-self-center grid gap-3"
      >
        {
          menuItems.map((item) => (
            <a
              href={item.href}
              class={`${item.class} rounded-lg justify-center items-center gap-1 inline-flex w-full h-[56px] text-white text-xl leading-normal tracking-tight`}
            >
              {item.text}
            </a>
          ))
        }
      </div>
    </div>
  </div>
</div>

<script>
  const menuButton = document.getElementById("menuButton");
  const menuModal = document.getElementById("menuModal");
  const closeButton = document.getElementById("closeButton");

  function toggleModal() {
    menuModal.classList.toggle("hidden");
  }

  menuButton.addEventListener("click", toggleModal);
  closeButton.addEventListener("click", toggleModal);

  menuModal.addEventListener("click", (event) => {
    if (event.target === menuModal) toggleModal();
  });

  menuModal.querySelectorAll("a").forEach((link) => {
    link.addEventListener("click", toggleModal);
  });
</script>
