---
export interface TeamCardProps {
  person: string;
  position: string;
  linkImage: string;
  description: string;
  linkedin?: string;
  instagram?: string;
}

const { person, position, linkImage, description, linkedin, instagram } =
  Astro.props;
---

<div class="w-full h-[540px] max-w-sm bg-white flex flex-col gap-6 p-4">
  <img
    class="w-[427px] h-[292px] object-scale-down"
    src={linkImage}
    alt="Team member"
  />
  <div class="flex flex-col gap-4">
    <div>
      <h2 class="text-black/90 text-2xl font-semibold leading-7">
        {person}
      </h2>
      <p class="text-black/90 text-xs uppercase leading-tight">
        {position}
      </p>
    </div>
    <p class="text-[#666666] text-sm uppercase leading-tight">
      {description}
    </p>
    <div class="flex items-center gap-4">
      {
        linkedin && (
          <a href={linkedin} target="_blank" rel="noopener noreferrer">
            <img
              src={import.meta.env.SITE + "/assets/IconLinkdnBlack.svg"}
              alt="LinkedIn"
              class="h-6 w-6"
            />
          </a>
        )
      }
      {
        instagram && (
          <a href={instagram} target="_blank" rel="noopener noreferrer">
            <img
              class="h-6 w-6"
              src={import.meta.env.SITE + "/assets/IconIGBlack.svg"}
              alt="Instagram"
            />
          </a>
        )
      }
    </div>
  </div>
</div>
